/*
  These are here just to check that
  the stylesheet is being loaded.
*/

h1, h2, p {
  font-family: Helvetica;
  color: #bbb;
}

.alert {
  font-weight: bold;
  color: #f88;
}

.dashboard {
  margin: 10px;
  padding: 10px;
  border: 2px solid #88d;
  background-color: #ddf;
}
