{% extends 'layout.html' %}

{% block content %}

{{ form() }}

<h2>jQuery Example</h2>
<p><input id="a" type=text size=5> +
   <input id="b" type=text size=5> =
   <span id=result>?</span>
<p><a href="javascript:calculate();" id=calculate>calculate server side</a>

{% endblock %}


{% block scripts %}
<script type=text/javascript>
  var csrftoken = "{{ csrf_token() }}"

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
  });

  function calculate() {
    $.ajax({
      url: '/post/_add_numbers',
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({
        a: $('#a').val(),
        b: $('#b').val()
      }),
    }).done( function (data) {
      $("#result").text(data.result);
    });
  }
</script>

{% endblock %}
