{% extends 'content.html' %}

{% block maincontent %}
{{ form() }}
{% endblock %}


{% block rightcol %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#newPhotos" aria-controls="newPhotos" role="tab" data-toggle="tab">New photos</a></li>
  <li role="presentation"><a href="#oldPhotos" aria-controls="oldPhotos" role="tab" data-toggle="tab">Old photos</a></li>
</ul>

<div class="tab-content photo-list text-center">
  <div role="tabpanel" class="tab-pane active" id="newPhotos">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal">
      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
      Upload a photo
    </button>
    <div id="uploadPhotos">
      {% for image in new_photos %}
      <div class="photo-thumbnail">
        <button type="button" class="to-clipboard btn btn-default btn-sm hidden" data-clipboard-text="!({{ image.filename }})">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        {{ image.img() }}
      </div>
      {% endfor %}
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="oldPhotos">
    {% for image in old_photos %}
    <div class="photo-thumbnail">
      <button type="button" class="to-clipboard btn btn-default btn-sm hidden" data-clipboard-text="!({{ image.filename }})">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
      {{ image.img() }}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block modals %}
{{ drop_form() }}
{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>

<script type=text/javascript>
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
  });
  //
  new Clipboard('.to-clipboard');
  //
  function clipboardButton (ctx=undefined) {
    $('.photo-thumbnail', ctx).hover(
      function() {
        $("button", this).removeClass("hidden");
      }, function() {
        $("button", this).addClass("hidden");
      }
    )
  }
  //
  function postOrPage (page) {
    var fields = $("#excerpt, #categories-old, #categories-new, #tags").closest(".form-group");
    if (page) { fields.addClass("hidden"); }
    else { fields.removeClass("hidden"); }
  }
  $("#page").click( function () {
    var $this = $(this);
    postOrPage($this.is(':checked'));
  })
  //
  Dropzone.options.dropForm = {
    autoProcessQueue: false,
    uploadMultiple: false,
    // maxFilesize somewhere?

    init: function() {
      var myDropzone = this;

      this.element
          .querySelector("input[type=submit]")
          .addEventListener("click", function(e) {
        e.preventDefault();
        e.stopPropagation();
        myDropzone.processQueue();
      });
      this.on("sending", function() {
        $("#uploading").removeClass("hidden");
      });
      this.on("success", function(file, response) {
        tag = `<div class="photo-thumbnail">
          <button type="button" class="to-clipboard btn btn-default btn-sm hidden" data-clipboard-text="!(${response.filename})">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          ${response.tag}
        </div>`
        $("#uploadPhotos").prepend(tag);
        clipboardButton();
        $("#modal").modal("hide");
      });
      this.on("error", function(files, response) {
        // some real error message?
        console.log("file couldn't be uploaded");
      });
      this.on("complete", function (file) {
        $("#uploading").addClass("hidden");
        myDropzone.removeFile(file);
        $("#alternative, #caption").attr("value", "");
      });
    }
  }

  //
  clipboardButton();
</script>
{% endblock %}
