{% extends 'dashboard.html' %}
{% import 'macros.html' as macro %}

{% block dash_content %}

<h2>Edit {{ user.username }}</h2>

<h3>You can't change these here...</h3>
<dl>
  <dt>Email:</dt>
  <dd>{{ user.email }}</dd>

  <dt>Confirmed?</dt>
  <dd>{{ user.confirmed }}</dd>

  <dt>Role:</dt>
  <dd>{{ user.role.name }}</dd>

  <hr>

  <dt>Member since:</dt>
  <dd>{{ user.member_since }}</dd>

  <dt>Last seen:</dt>
  <dd>{{ user.last_seen }}</dd>
</dl>

<h3>...though you can change these!</h3>
{{ macro.render_form(form) }}

{% endblock %}
