{% extends 'dashboard.html' %}
{% import 'macros.html' as macro %}

{% block dash_content %}

<h2>{{ user.name or "Nameless" }}</h2>
<img src="{{ user.gravatar() }}">

<p>
  {{ user.username }}
  {% if user == current_user %}
  <a href="{{ url_for('auth.change_username') }}">Change username</a>;
  <a href="{{ url_for('auth.change_password') }}">Change password</a>.
  {% endif %}
</p>

<dl>
  <dt>Email:</dt>
  <dd>{{ user.email }}
    {% if user == current_user and not current_user.is_main_administrator() %}
    (<a href="{{ url_for('auth.change_email_request') }}">Change email</a>)
    {% endif %}
   </dd>

  <dt>Role:</dt>
  <dd>{{ user.role.name }}</dd>
</dl>

{% if user.confirmed %}
<p>Confirmed account.</p>
{% elif user == current_user %}
<p>You're account isn't confirmed yet. <br>
  Please check your email.
  If you need another confirmation token,
  <a href="{{ url_for('auth.resend_confirmation') }}">click here</a>.
</p>
{% else %}
<p>Account is not confirmed.</p>
{% endif %}

{% if current_user.is_administrator() %}
<table>
  <tr>
    {{ macro.user_roles(user) }}
  </tr>
</table>
{% endif %}
<hr>

<dl>
  <dt>Url:</dt>
  <dd>{{ user.url or "No url" }}</dd>

  <dt>Member since:</dt>
  <dd>{{ user.member_since }}</dd>

  <dt>Last seen:</dt>
  <dd>{{ user.last_seen }}</dd>

  <dt>Newsletter:</dt>
  <dd>{{ user.newsletter }}</dd>
</dl>

<a href="{{ url_for('dash.edit_user_profile', username=user.username) }}">Edit profile</a>

{% endblock %}
