{% extends 'dashboard.html' %}
{% import 'macros.html' as macro %}

{% block dash_content %}

{% if current_user.is_authenticated %}
<h2>Hello, {{ current_user.username }}!</h2>
{% else %}
<h2>Hello, Stranger!</h2>
{% endif %}

<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Confirmed</th>
      <th scope="col">Role</th>
      <th scope="col">Assign, block or unblock</th>
      <th scope="col">Banish or delete</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td><img src="{{ user.gravatar(size=50) }}"></td>
      <td>{{ user.email }}</td>
      <td>
        {% if user.username %}
        <a href="{{ url_for('dash.user_profile', username=user.username) }}">{{ user.username }}</a>
        {% endif %}
      </td>
      <td>{{ user.confirmed }}</td>
      <td>{{ user.get_role() }}</td>
      {{ macro.user_roles(user) }}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
