/*
  These are here just to check that
  the stylesheet is being loaded.
*/

h1, h2, p {
    font-family: Helvetica;
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.alert {
  font-weight: bold;
  color: #f88;
}

.checkbox > input {
  margin-left: 0 !important; /* HORRIBLE */
}

.header {
  background-color: #dfd;
}

.main-content {
  margin-top: 15px;
}

.float-right {
  float: right;
}

.dashboard {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #88d;
  background-color: #ddf;
}

.post-title {
  color: #8b8;
  font-size: 3em;
}

.post-head {
  font-size: 0.9em;
  background-color: #efe;
  color: #8a8;
  margin: 0;
  padding: 4px;
}

.post-body {
  margin-top: 1em;
}

.post-excerpt {
  clear: both;
  margin: 1em 0;
  color: #bbb;
  font-size: 1.2em;
}

/* SHORT POST */
.short-post {
  margin: 10px 0 10px -15px;
  padding: 20px 10px 10px 10px;
  background-color: #dfd;
}

.short-post h2 {
  color: #8b8;
  margin-top: 0;
}
.short-post-head {
  font-size: 0.9em;
  margin: -10px 0 10px 0;
  color: #aaa;
}

.short-post-excerpt {
  font-size: 1.1em;
}

.form-box {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
}

.form-box-centered {
  width: 598px;
  margin: 30px auto;

}

.uploading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .2);
}

.uploading span {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 50%;
  margin: -4% 0 0 -25%;
}

.photo-list {
  border-left: 1px solid rgba(0, 0, 0, .2);
  border-right: 1px solid rgba(0, 0, 0, .2);
  padding: 15px 15px 0 15px;
}

.flask-pagedown-preview {
  background-color: #dde;
}

.photo-thumbnail {
  position: relative;
  margin-bottom: 15px;
}

.photo-thumbnail img {
  max-width:100%;
}

.to-clipboard {
  position: absolute;
  bottom: 0;
  right: 0;
}

#uploadPhotos {
  padding-top: 15px;
}
