
/* general */
h1, h2, p {
    font-family: Helvetica;
}

.link-unstyled:link,
.link-unstyled:visited,
.link-unstyled:hover,
.link-unstyled:active {
  color: inherit;
  text-decoration: inherit;
}

.alert {                   /* bootstrap? */
  font-weight: bold;
  color: #f88;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.checkbox > input {
  margin-left: 0 !important; /* HORRIBLE */
}

/* header */
header {
  color: white;
  background-color: #dfd;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
header h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
}

/* navbar */
.navbar-brand {
  background-color: #dfd;
}
#navbar {
  margin-left: -15px;
  margin-right: -15px;
}

/* dashboard */
.dashboard {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #88d;
  background-color: #ddf;
}


/* posts */
.post-main-image {
  position: relative;
  margin-bottom: 30px;
}
.post-main-image-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.post-buttons {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  margin: 5px;
}
.post-buttons div {
  display: inline-block;;
}
.post-main-image-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.post-title {
  color: #8b8;
  font-size: 3em;
}
.tag {
  margin-right: 5px;
}
.comments h3 {
  background-color: #dfd;
  padding-top: 10px;
}

/* SHORT POST */
.short-post {
  position: relative;
  margin: 15px 0 15px -15px;
  padding: 15px;
  background-color: #dfd;
}
.post-off {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.short-post h2 {
  color: #8b8;
  margin-top: 0;
}
.short-post-head {
  font-size: 0.9em;
  margin: -10px 0 10px 0;
  color: #aaa;
}

.short-post-excerpt {
  font-size: 1.1em;
}

.form-box {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
}

.form-box-centered {
  width: 598px;
  margin: 30px auto;

}

.uploading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .2);
}

.uploading span {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 50%;
  margin: -4% 0 0 -25%;
}

.photo-list {
  border-left: 1px solid rgba(0, 0, 0, .2);
  border-right: 1px solid rgba(0, 0, 0, .2);
  padding: 15px 15px 0 15px;
}

.flask-pagedown-preview {
  background-color: #dde;
}

.photo-thumbnail {
  position: relative;
  margin-bottom: 15px;
}

.photo-thumbnail img {
  max-width:100%;
}

.to-clipboard {
  position: absolute;
  bottom: 0;
  right: 0;
}

#uploadPhotos {
  padding-top: 15px;
}
