{% set author = comment.author_name or comment.author %}
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{ comment.gravatar(size=40) }}" alt="{{ author }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      {{ author }}
      <span class="small text-muted">{{ comment.created }}</p>
    </h4>
    {{ comment.body_md }}
    <p><a id="answer{{ comment.id }}" class="answer-button" href="#">Answer</a></p>
    <div class="comment-form-box">
    </div>
    <div class="comment-children">
    {% for c in comment.children | sort(attribute="created") %}
      {{ c() }}
    {% endfor %}
    </div>
  </div>
</div>
