{% extends 'content.html' %}
{% from 'macros.html' import pagination_widget %}


{% block maincontent %}

{% if title %}
<h2>{{ title }}</h2>
{% endif %}

{% if posts == [] %}
<div class="alert aler-warning" role="alert">
  There are no posts here yet!
</div>
{% else %}

<ul class="list-unstyled">
  {% for post in posts %}
  {% if post.status or post.author == current_user or current_user.can(Permission.EDIT_POST) %}
  <li class="short-post">

    {% if post.author == current_user or current_user.can(Permission.EDIT_POST) %}
    <div class="post-off{{ ' hidden' if post.status }}"></div>
    <div class="post-buttons hidden">
      {{ post.status_form() }}
      {{ post.edit_link() }}
      {{ post.delete_form() }}
    </div>
    {% endif %}

    {{ post.main_image.img(width=120) if post.main_image }}

    <h2>
      {{ post.link(classes="link-unstyled") }}
    </h2>

    <div class="short-post-head">
      by
      <a class="link-unstyled" href="{{ url_for('main.author', username=post.author.username) }}">
        {{ post.author.name or post.author.username }}</a>,
      {{ post.created }}
      {% if post.category %}
      <br>
      {{ post.category.tree() }}
      {% endif %}
      <br>
      <a class="link-unstyled" href="{{ url_for('main.post', slug=post.slug) }}#comments">
        {{ post.comment_count }}
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </a>
    </div>

    <div>
      {% for tag in post.tags %}
      <span class="label label-primary">
        {{ tag.link(classes="link-unstyled") }}
      </span>
      {% endfor %}
    </div>

    <div class="short-post-excerpt">
      {{ post.excerpt }}
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>

{{ pagination_widget(pagination, 'main.index') }}
{% endif %}

{% endblock %}


{% block scripts %}
{{ super() }}

<script type=text/javascript>
$(function() {
  // main image gadget
  $('.short-post').hover(
    function() {
      $(this).children(".post-buttons").removeClass("hidden");
    }, function() {
      $(this).children(".post-buttons").addClass("hidden");
    }
  )
  // set csrftoken
  var csrftoken = "{{ csrf_token() }}"
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    }
  });
  // set_ajax function
  function set_ajax(form) {
    form.submit(function(e) {
      e.preventDefault();
      $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: 'POST',
        success: function(response) {
          var curtain = $("#statusForm" + response.id).closest(".short-post").children(".post-off");
          if (response.status) { curtain.addClass("hidden"); }
          else { curtain.removeClass("hidden"); }
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  }
  //
  var statusForms = $(".statusForm");
  statusForms.each( function() {
    set_ajax( $(this) );
  });
});

</script>
{% endblock %}
