<form {{ 'action={}'.format(action) if action }} method={{ method }}
      {{ 'class=form-inline' if not vertical }}>

  {% if form.title %}
  <h2>{{ form.title }}</h2>
  {% endif %}

  {% if form.errors %}
  <p class="alert">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
        {{ form[field_name].label }}: {{ error }}<br>
      {% endfor %}
    {% endfor %}
  </p>
  {% endif %}

  {{ form.csrf_token }}

  {% for field in form if field.type not in ("CSRFTokenField", "SubmitField") %}
    {% if field.type == "BooleanField" %}
    <div class="checkbox">
      {{ field() }}
      {{ field.label }}
    </div>
    {% elif labelled %}
    <div class="form-group">
      {{ field.label }}:
      {{ field(class="form-control") }}
    </div>
    {% else %}
    {{ field(class="form-control") }}
    {% endif %}
  {% endfor %}

  {% if danger %}
  {{ form.submit(class="btn btn-danger") }}
  {% else %}
  {{ form.submit(class="btn btn-primary") }}
  {% endif %}

</form>
