

{% macro errors(form) %}
  {% if form.errors %}
  <p class="alert">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
        {{ form[field_name].label }}: {{ error }}<br>
      {% endfor %}
    {% endfor %}
  </p>
  {% endif %}
{% endmacro %}


{% macro render_form( form,
                      method="POST",
                      action=None,
                      vertical=True,
                      use_label=True ) %}
<form {{ 'class=form-inline' if not vertical }}
      {{ 'action={}'.format(action) if action }}
      method={{ method }}>

  {% if form.heading %}
  <h2>{{ form.heading }}</h2>
  {% endif %}

  {{ form.csrf_token }}

  {% for field in form if field.type not in ("CSRFTokenField", "SubmitField") %}
    {% if field.type == "BooleanField" %}
    <div class="checkbox">
      {{ field() }}
      {{ field.label }}
    </div>
    {% elif use_label %}
      <div class="form-group">
        {{ field.label }}:
        {{ field(class="form-control") }}
      </div>
    {% else %}
      {{ field(class="form-control") }}
    {% endif %}
  {% endfor %}

  {{ form.submit(class="btn btn-primary") if form.submit }}

  {{ errors(form) }}
</form>
{% endmacro %}


{% macro h_form( form,
                 method="POST",
                 action=None) %}
{{ render_form (form, method, action, vertical=False, use_label=False) }}
{% endmacro %}


{% macro user_roles(user) %}
{% if user.get_role() == "Blocked" %}
  <td>{{ h_form(user.unblock_form, action=url_for('dash.unblock_user')) }}</td>
  <td>{{ h_form(user.delete_form, action=url_for('dash.delete_account')) }}</td>
{% elif user.get_role() == "Guest" %}
  <td>{{ h_form(user.block_form, action=url_for('dash.block_user')) }}</td>
{% elif user.assign_form %}
  <td>{{ h_form(user.assign_form, action=url_for('dash.assign_role')) }}</td>
  <td>{{ h_form(user.banish_form, action=url_for('dash.banish_user')) }}</td>
{% endif %}
{% endmacro %}

{% macro short_posts(posts, current_user) %}
<ul class="list-unstyled">
  {% for post in posts %}
  <li class="short-post">
    <h2>
      <a class="link-unstyled" href="{{ url_for('main.post', slug=post.slug) }}">{{ post.name }}</a>
    </h2>
    <div class="short-post-head">
      by
      <a class="link-unstyled" href="{{ url_for('main.author', username=post.author.username) }}">
        {{ post.author.name or post.author.username }}</a>,
      {{ post.created }}
      {% if post.author == current_user %}
       <br>
       <a class="btn btn-primary" href="{{ url_for('dash.edit_post', slug=post.slug) }}">Edit</a>
      {% endif %}
    </div>
    <div class="short-post-excerpt">
      <p>{{ post.excerpt }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{% macro pagination_widget(pagination, endpoint) %}
<nav class="text-center">
  <ul class="pagination">

    {% if pagination.has_prev %}
    <li>
      <a href="{{ url_for(endpoint, page=pagination.page-1, **kwargs) }}">
    {% else %}
    <li class="disabled">
      <a href="#">
    {% endif %}
        &laquo;
      </a>
    </li>

    {% for p in pagination.iter_pages() %}
      {% if p %}
        <li {{ "class=active" if p == pagination.page }}>
          <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
        </li>
      {% else %}
      <li class="disabled">
        <a href="#">&hellip;</a>
      </li>
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
    <li>
      <a href="{{ url_for(endpoint, page=pagination.page+1, **kwargs) }}">
    {% else %}
    <li class="disabled">
      <a href="#">
    {% endif %}
        &raquo;
      </a>
    </li>

  </ul>
</nav>
{% endmacro %}
