
{% macro pagination_widget(pagination, endpoint) %}
<nav class="text-center">
  <ul class="pagination">

    {% if pagination.has_prev %}
    <li>
      <a href="{{ url_for(endpoint, page=pagination.page-1, **kwargs) }}">
    {% else %}
    <li class="disabled">
      <a href="#">
    {% endif %}
        &laquo;
      </a>
    </li>

    {% for p in pagination.iter_pages() %}
      {% if p %}
        <li {{ "class=active" if p == pagination.page }}>
          <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
        </li>
      {% else %}
      <li class="disabled">
        <a href="#">&hellip;</a>
      </li>
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
    <li>
      <a href="{{ url_for(endpoint, page=pagination.page+1, **kwargs) }}">
    {% else %}
    <li class="disabled">
      <a href="#">
    {% endif %}
        &raquo;
      </a>
    </li>

  </ul>
</nav>
{% endmacro %}


{% macro collapse_button(name) %}
<a class="change-button" data-toggle="collapse" href="#{{name}}" aria-controls="{{name}}">
  change
</a>
{% endmacro %}


{% macro collapse_form(name, form) %}
<div class="collapse" id="{{name}}">{{ form() }}</div>
{% endmacro %}
